<!-- <div
  (dragover)="false"
  (dragend)="false"
  (drop)="handleDrop($event)"> -->
  <button (click)="logout()">logout</button><br />

  <input type="file" id="file" (change)="handleDrop($event)" />
  <!-- <label for="file">Choose file</label> -->
  <!-- <p style="font-size: 0.8rem;">Right Click To Confirm Polygon</p>
  <button id="edit" (click)="Edit()" [disabled]="!isPolygonDrawn">
    Edit Polygon
  </button> -->
  <br />
  <!-- <button id="copy" (click)="copyCoords()" >
    Copy Coordinates
  </button> -->
  <hr />

  <canvas
    id="canvasID"
    width="1280"
    height="720"
    style="border: 1px solid red"
  ></canvas>
<!-- </div> -->

<!-- <input type="file" (change)="img($event)" name="file" > -->
